@font-face {
	font-family: Sahel;
	src: url('../fonts/sahel/Sahel.eot');
	src: url('../fonts/sahel/Sahel.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sahel/Sahel.woff') format('woff'),
		 url('../fonts/sahel/Sahel.ttf') format('truetype');
}

body {
	text-align: right;
	font-family: Sahel, 'Sahel', tahoma, arial, serif;
}


blockquote {
	background-color: #ddd;
	padding: 10px 18px 10px 12px;
	border-right: 6px solid #13932b;
	border-left: none;
	border-radius: 6px 3px 3px 6px;
}

#top-navbar ul {
	margin-right: initial !important;
	margin-left: auto !important;
}

#top-navbar form input.mr-sm-2 {
	margin-left: .5rem !important;
	margin-right: initial !important;
}

@media screen and (min-width: 600px) {
	#top-header img {
		float: right !important;
	}
	#top-header #top-header-text {
		float: right !important;
		text-align: right !important;
	}
}

#posts-list article div.card-body a.btn.btn-primary {
	float: left !important;
}

/*pagination*/
.mypagination li {
	float: right;
}

#post-content #article-image time {
	right: initial;
	left: 0;
	border-radius: 0 8px 0 0;
}

#article-last-comments ul.list-unstyled {
    padding-left: initial !important;
    padding-right: 0 !important;
}

#article-last-comments ul.list-unstyled .media img {
    margin-left: .5rem !important;
    margin-right: initial !important;
}