a {
	transition: color 0.2s;
	text-decoration: none !important;
}

a:hover {
	color: #ec63c8;
}

h1 {font-size: 2rem}
h2 {font-size: 1.675rem}
h3 {font-size: 1.5rem}

blockquote {
	background-color: #ddd;
	padding: 10px 12px 10px 18px;
	border-left: 6px solid #13932b;
	border-radius: 0 6px 6px 0;
}

.form-control:focus {
	box-shadow: 0 0 0 .03rem;
}

/*pagination class*/
.mypagination {
	display: table;
	margin: auto;
}

.mypagination li {
	float: left;
}

.mypagination li a,
.mypagination li.disabled {
	display: inline-block;
	min-width: 36px;
	padding: 0 10px;
	line-height: 36px;
	text-align: center;
	background-color: #515b6b;
	margin: 0 4px 5px;
	border-radius: 4px;
	color: #fff;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.mypagination li a:hover:not(.active) {
	background-color: #1089ef;
}

.mypagination li a.active {
	background-color: #d11f8a;
}

.mypagination li.disabled {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
    text-decoration: none;
}

#top-header {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

@media screen and (min-width: 600px) {
	#top-header #top-header-text {
		margin-top: 63px;
	}
}

#posts-list article .card-sth {
	background-color: #000;
}

#posts-list article .card-sth time {
	bottom: 0;
	right: 0;
	border-radius: 8px 0 0 0;
	font-size: 14px;
}

#posts-list article .card-sth a img {
	transition: opacity 0.5s;
}

#posts-list article .card-sth a img:hover {
	opacity: 0.7;
}

#posts-list article div.card-body a h2 {
	background-color: #fff;
}

#posts-list article div.card-body a.btn.btn-primary {
	background: #2f83ef;
	background: -moz-linear-gradient(45deg, #2f83ef 0%, #3c80c9 67%, #2d6596 98%);
	background: -webkit-linear-gradient(45deg, #2f83ef 0%,#3c80c9 67%,#2d6596 98%);
	background: linear-gradient(45deg, #2f83ef 0%,#3c80c9 67%,#2d6596 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f83ef', endColorstr='#2d6596',GradientType=1 );
	border: 0;
	transition: opacity 0.5s;
}

#posts-list article div.card-body a.btn.btn-primary:hover {
	opacity: 0.7;
}



#post-content #article-image time {
	right: 0;
	bottom: 0;
	border-radius: 8px 0 0 0;
}

#post-content #article-content img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}

#article-last-comments ul.list-unstyled .media img {
	width: 56px;
	height: 56px;
	border-radius: 8px;
}

#back-to-top {
	right: 15px;
	bottom: 15px;
	display: none;
	z-index: 100;
}

#back-to-top,
#top-navbar form button,
#write-comment form button {
	cursor: pointer;
}